@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  color: #0f0;
}

::selection {
  background: #0f0;
  color: #000;
}